/* Override screen.css */
li {
  margin-bottom: 0.6rem;
  line-height: 2.4rem;
}
h1.post-title {
    font-size: 4rem;
    letter-spacing: -1px;
    text-indent: -3px;
    padding-bottom: 2rem;
}

h2 {
    font-size: 2.7rem;
    letter-spacing: -1px;
}

h3 {
    font-size: 2.2rem;
    letter-spacing: -0.6px;
    padding-bottom: 0.6rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.8rem;
}

#description {
  padding-top: 1.3rem;
  padding-bottom: 0.8rem;
  font-size: 1.5rem;
  line-height: 1.6em;
}

.read-more {
    font-weight: bold;
}

code, tt {
  background: #f5f2f0;
}

/* Override Prism */

code[class*="language-"],
pre[class*="language-"] {
  color: inherit;
  margin: -0.5em 0 1.8em 0; /* pre's bottom margin */
}

/*
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: #E3EDF3 1px solid;
  // mix #f5f5f5; ghost #F7FAFB; Original #f5f2f0
  background: #F7FAFB;
  color: #3A4145;
}
*/

/*
pre.code-toolbar > .toolbar span {
  color: #bbb;
  background: #D6EDFF;
}
*/

/* For MathJax */

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  color: inherit;
}

/* Asciidoctor callout.  Use "Keep Markup" plugin of PrismJS */
.conum .punctuation {
  display: none;
}
.conum .number, .conum {
  display: inline-block;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  width: 1.35em;
  height: 1.35em;
  font-size: 0.9em;
  line-height: 1.37em;
  font-family: "Open Sans", "Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Asciidoctor callout list */
.colist ol {
  margin-top: -1em;
  counter-reset: my-counter;
  list-style: none;
  padding: 0;
}

.colist li {
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
.colist li:before {
  content: counter(my-counter);
  counter-increment: my-counter;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  float: left;
  line-height: 1.37em; // 22px;
  margin-left: -27px;
  margin-right: 10px;
  margin-top: 2px;
  text-align: center;
  height: 1.35em; // 22px;
  width: 1.35em; // 22px;
  font-size: 0.9em;
  border-radius: 50%;
  font-family: "Open Sans", "Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Asciidoctor ソースコード用 */

.listingblock .title {
  color: inherit; // #3A4145
  font-style: normal;
  font-weight: bold;
  font-family: "Open Sans", "Sans", sans-serif;
  margin-bottom: 0.4em;
}

/* Asciidoctor 見栄え調整 */
.sectionbody {
  margin-top: 1.8em;
  margin-bottom: 2em;
}

.imageblock {
  margin-bottom: 2em;
}

.imageblock .title {
  text-align: center;
}

/* toc */
.toc * {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
.toc {
  width: 200px;
  right: 0;
  position: fixed;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px 0px 2px 8px;
  z-index: 9999;
  overflow-y: auto
}
.toc a {
  color: #333;
  text-decoration: none;
}
.toc-visible, .toc a:hover {
  background-color: #efefef;
  color: #333
}
.toc .h2 {
  margin-left: 0;
}
.toc .h3 {
  margin-left: 2em;
}
.toc .h4 {
  margin-left: 4em;
}
.toc .h5 {
  margin-left: 6em;
}
.toc .h6 {
  margin-left: 8em;
}
.toc-visible {
  color: #000;
  font-weight: bold;
}
.toc.right {
  right: 0
}
.toc ul {
  margin-top: 0.5em;
  margin-left: 0;
}
.toc li {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0.5em;
  line-height: 1.3em;
}
