/* Override screen.css */
li {
  margin-bottom: 0.6rem;
  line-height: 2.4rem;
}
h1.post-title {
    font-size: 4rem;
    letter-spacing: -1px;
    text-indent: -3px;
    padding-bottom: 2rem;
}

h2 {
    font-size: 2.7rem;
    letter-spacing: -1px;
}

h3 {
    font-size: 2.2rem;
    letter-spacing: -0.6px;
    padding-bottom: 0.6rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.8rem;
}

#description {
  padding-top: 1.3rem;
  padding-bottom: 0.8rem;
  font-size: 1.5rem;
  line-height: 1.6em;
}

.read-more {
    font-weight: bold;
}

code, tt {
  font-size: 1.7rem;
  background: #f5f2f0;
}

/* Override Prism */

code[class*="language-"],
pre[class*="language-"] {
  color: inherit;
  margin: -0.5em 0 1.8em 0; /* pre's bottom margin */
}

/* For MathJax */

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  color: inherit;
}

/* Asciidoctor callout.  Use "Keep Markup" plugin of PrismJS */
.conum .punctuation {
  display: none;
}
.listingblock code b {
  display: none;
}

.admonitionblock td.icon [class^="fa icon-"]:before{font-family:FontAwesome;font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.conum[data-value]{display:inline-block;color:#fff!important;background-color:rgba(0,0,0,.8);-webkit-border-radius:100px;border-radius:100px;text-align:center;font-size:.75em;width:1.67em;height:1.67em;line-height:1.67em;font-family:"Open Sans","DejaVu Sans",sans-serif;font-style:normal;font-weight:bold}
.conum[data-value] *{color:#fff!important}
.conum[data-value]+b{display:none}
.conum[data-value]:after{content:attr(data-value)}
pre .conum[data-value]{position:relative;top:-.125em}
b.conum *{color:inherit!important}
.conum:not([data-value]):empty{display:none}

.literalblock+.colist,.listingblock+.colist{margin-top:-2.5em}
.colist>table tr>td:first-of-type{padding:.4em .75em 0 .75em;line-height:1;vertical-align:top}
.colist>table tr>td:first-of-type img{max-width:initial}

.colist table tbody {
  border-top: #F6F6F6 2px solid;
  border-bottom: #F6F6F6 2px solid;
} // #EFEFEF

div.colist {
  border: red 5px solid;
}

.colist table tbody > tr:nth-child(odd) > td,
.colist table tbody > tr:nth-child(odd) > th {
  background-color: white; // #F6F6F6;
}

.admonitionblock table tbody > tr:nth-child(odd) > td,
.admonitionblock table tbody > tr:nth-child(odd) > th
{
  padding-top: 1.5rem;
  padding-bottom: 0;
  border: 0;
  border: none;
  background: #f5f2f0;
}

/* Asciidoctor ソースコード用 */

.listingblock .title {
  color: inherit; // #3A4145
  font-style: normal;
  font-weight: bold;
  font-family: "Open Sans", "Sans", sans-serif;
  margin-bottom: 0.4em;
}

/* Asciidoctor 見栄え調整 */
.sectionbody {
  margin-top: 1.8em;
  margin-bottom: 2em;
}

.imageblock {
  margin-bottom: 2em;
}

.imageblock .title {
  text-align: center;
}

a > code {
  border: none;
}

li > p + .listingblock {
  margin-top: 1.3em;
}

/* toc */
.toc * {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
.toc {
  width: 200px;
  right: 0;
  position: fixed;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px 0px 2px 8px;
  z-index: 9999;
  overflow-y: auto
}
.toc a {
  color: #333;
  text-decoration: none;
}
.toc-visible, .toc a:hover {
  background-color: #efefef;
  color: #333
}
.toc .h2 {
  margin-left: 0;
}
.toc .h3 {
  margin-left: 2em;
}
.toc .h4 {
  margin-left: 4em;
}
.toc .h5 {
  margin-left: 6em;
}
.toc .h6 {
  margin-left: 8em;
}
.toc-visible {
  color: #000;
  font-weight: bold;
}
.toc.right {
  right: 0
}
.toc ul {
  margin-top: 0.5em;
  margin-left: 0;
}
.toc li {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0.5em;
  line-height: 1.3em;
}
